<%- include("partials/header"); -%>
    <div class="container centre pad1 Heading">

        <h1>GDSC Blogs</h1>
        <p>Welcome to the home page!</p>
    </div>
    <div class="Carousel container bot">

        <div id="carouselExampleControls" class="carousel slide pad" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <i class="fa-solid fa-code fa-4x" style="color: #000000;"></i>
                    <p style="font-size: larger;">Web Dev</p>
                </div>
                <div class="carousel-item">
                    <i class="fa-solid fa-mobile-button fa-4x" style="color: #000000;"></i>
                    <p style="font-size: larger;">App Dev</p>
                </div>
                <div class="carousel-item">
                    <i class="fa-solid fa-cloud fa-4x" style="color: #000000;"></i>
                    <p style="font-size: larger;">Cloud</p>
                </div>
                <div class="carousel-item">
                    <i class="fa-solid fa-laptop-code fa-4x" style="color: #000000;"></i>
                    <p style="font-size: larger;">Data Science</p>
                </div>
                <div class="carousel-item">
                    <i class="fa-solid fa-robot fa-4x" style="color: #000000;"></i>
                    <p style="font-size: larger;">Machine Learning</p>
                </div>
                <div class="carousel-item">
                    <i class="fa-solid fa-atom fa-4x" style="color: #000000;"></i>
                    <p style="font-size: larger;">Web 3.0</p>
                </div>
            </div>
            <a class="carousel-control-prev black" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next black" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="about centre container">
        <div>
            <h1 style="font-family: Raleway;">About Us</h1>
            <p>Google Developer Student Clubs are university-based community groups for students interested in Google
                developer technologies. Students from all undergraduate or graduate programs with an interest in growing
                as a developer are welcome. By joining a GDSC, students grow their knowledge in a peer-to-peer learning
                environment and build solutions for local businesses and their communities.</p>
            <p style="padding-bottom: 8%;">Keep an eye on this page to know about the upcoming events at GDSC IIIT Bhopal!</p>
        </div>
    </div>
    <div id="top">
        <div class="centre Heading">
            <div class="dot red"></div>
            <div class="dot green"></div>
            <div class="dot blue"></div>
            <div class="dot yellow"></div>
            <h1>Our Top Blogs</h1>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6" style="padding-left: 10%; padding-top: 5%;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSObg0c7miyo05sM82C5rWRnLuyLk_dhdsUzw&usqp=CAU"
                        alt="Your Image" class="img-fluid" style=" border-radius: 50%;">
                </div>
                <div class="col-md-6">
                    <div class="card sh">
                        <div class="card-body">
                            <h5 class="card-title">Card Title</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec risus
                                nec
                                justo malesuada vehicula. Quisque bibendum, nisi a pharetra consectetur, sem ligula
                                blandit
                                massa, non facilisis felis sapien non sapien. Aenean non magna nec mauris luctus
                                fringilla
                                nec nec urna. Proin cursus semper est. Sed pellentesque interdum justo, ac dapibus justo
                                facilisis at. Nam aliquet fermentum risus, in cursus nisl. Integer quis nisl vitae lorem
                                iaculis interdum a et purus. Curabitur in justo vel mauris vulputate hendrerit eu quis
                                turpis. Sed eu est ex. Vivamus fringilla, urna vel aliquet ullamcorper, justo purus
                                dapibus
                                tellus, a aliquam ante dolor nec elit. In vestibulum dapibus euismod.
                            </p>
                            <i>- Lorem</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5 ">
            <div class="row">
                <div class="col-md-6">
                    <div class="card sh">
                        <div class="card-body">
                            <h5 class="card-title">Card Title</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec risus
                                nec
                                justo malesuada vehicula. Quisque bibendum, nisi a pharetra consectetur, sem ligula
                                blandit
                                massa, non facilisis felis sapien non sapien. Aenean non magna nec mauris luctus
                                fringilla
                                nec nec urna. Proin cursus semper est. Sed pellentesque interdum justo, ac dapibus justo
                                facilisis at. Nam aliquet fermentum risus, in cursus nisl. Integer quis nisl vitae lorem
                                iaculis interdum a et purus. Curabitur in justo vel mauris vulputate hendrerit eu quis
                                turpis. Sed eu est ex. Vivamus fringilla, urna vel aliquet ullamcorper, justo purus
                                dapibus
                                tellus, a aliquam ante dolor nec elit. In vestibulum dapibus euismod.</p>
                            <i>- Lorem</i>

                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="padding-left: 20%; padding-top: 5%;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSObg0c7miyo05sM82C5rWRnLuyLk_dhdsUzw&usqp=CAU"
                        alt="Your Image" class="img-fluid" style="border-radius: 50%;">
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <% posts.forEach(function(post){ %>
            <div class="card cards pad margin sh">
                <div class="card-body">
                    <h5 class="card-title">
                        <%=post.title%>
                    </h5>
                    <p class="card-text">
                        <%=post.content%>
                    </p>
                    <i>- <%=post.usr%></i>
                </div>
            </div>
            <% }) %>

    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <div class="button-container">
                <button id="toggle-cards" class="btn btn-primary btn-block custom-button"
                    style="background-color: white; border-radius: 0; border-color: white; color: #000000;">Read More
                    ↓</button>
            </div>
        </div>
    </div>
    <div class="centre">
        <div class="dot red"></div>
        <div class="dot green"></div>
        <div class="dot blue"></div>
        <div class="dot yellow"></div>
    </div>
    <%- include("partials/footer"); -%>